.container-language {
  height: 100px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin: 0 10px;
  padding: 10px;
}

.container-language p,
.container-language h4 {
  color: #000;
  margin: auto;
  text-align: center;
}

.container-language .value {
  display: none;
}

.container-language:hover {
  background-color: #36cc1f;
  transition: background-color 500ms linear;
}

.container-language:hover p {
  color: #fff;
}

.container-language:hover .value {
  display: block;
}

.container-language:hover .title {
  display: none;
}
