.skill-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
}

.skill-container:hover {
  background-color: #36cc1f;
  transition: background-color 500ms linear;
  cursor: default;
}

.skill-container:hover p {
  color: #fff;
}

.skill-container p {
  margin: auto;
  text-align: center;
  color: #000;
}
