.experience-container p {
  margin: 0;
}

p span.company {
  font-weight: bold;
  font-size: 16pt;
}

p.period {
  font-size: 12pt;
  margin-left: 10px;
}

.experience-container ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 1.28571429em;
  text-indent: -1.2em;
}
